<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHYmKLt04KWnsJCldNEDlJrasWQi1spxA</string>
	<key>GCM_SENDER_ID</key>
	<string>535766920813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pedalixApp</string>
	<key>PROJECT_ID</key>
	<string>pedalix-6cdf9</string>
	<key>STORAGE_BUCKET</key>
	<string>pedalix-6cdf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535766920813:ios:307e7ad4ef39da6a2a1964</string>
</dict>
</plist>